<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div id="navbar" class="navbar-menu">
    <div class="navbar-brand pt-2 mx-3">
      <h1 class="title is-3" >Gigabaitas</h1>
    </div>


    <div class="navbar-start">
      <a class="navbar-item" href="/"> Pradinis </a>
      <a class="navbar-item" href="/articles"> Straipsniai </a>
      <a class="navbar-item" href="/about"> Apie mus </a>
    </div>



    <div class="navbar-end">
    
      <div class="m-2">
        <%= link_to 'Naujas straipsnis', new_article_path, class:"button is-info" %>
      </div>

      <% if user_signed_in? %>

        <%= link_to current_user.username, edit_user_registration_path, class:"navbar-item" %>
        <%= link_to "Atsijungti", destroy_user_session_path, method: :delete, class:"navbar-item" %>

      <% else %>

        <div class="navbar-item">
          <div class="field is-grouped">

            <p class="control">
              <%= link_to "Prisijungti", new_user_session_path, class: "button is-light"%>
            </p>
            <p class="control">
              <%= link_to "Registruotis", new_user_registration_path, class: "button is-light" %>
            </p>

          </div>
        </div>
      
      <% end %>
    </div>
  </div>
</nav>